/home/alberto/Desktop/web/git-projects/rango17/tango_with_django_project/tango_with_django_project/my_secrets.txt

# Compiled source #
###################
*.pyc

# Logs and databases #
######################
*.sql
*.sqlite3
*.sqlite

# sublime text #
################
*.sublime-project
*.sublime-workspace
Rakefile
.coverage
